
/* Type Selector */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  /*font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; */
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* shorthand properties to write all the font properties in one value
  font stack to ensure fonts are shown b/c some users may not have some fonts
  available to them
  */
}

h1 {
  font-size: 5.625rem; /* 90px / 16px = 5.625em */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
}

h2 {
  font-size: 3.3125em; /* 53px/16px */
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: .5em; /* "26px"/53px, so .5em = 26px */
}

h3 {
  font-size: 1.25em; /* 20px/16px */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px/30px */
}

/*li {
  display: inline-block;
  padding: 0 12px;
  border-right: solid 1px;
  margin: 80px 0;
}*/

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

img {
  max-width: 100%; /* for responsive imagery */
  margin-bottom: 20px;
}

 /* Pseudo-Classes */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4); /* alpha value to make orange transparent */
}

a:active { /* for elements that are activated */
  color: lightcoral;
}

:focus { /* selects any interactive element nagivating a site using a keyboard */
  color: white;
  background-color: orange;
}

/* Main Styles -------------------------------------- */

/* ID Selectors */

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px #ffa949;
}

 /* Class Selectors */

 .main-header {
   padding-top: 170px;
   height: 850px;
   background: #ffa949 url('../img/mountains.jpg') no-repeat center / cover;
   /* / is to separate the size from the position value for the background */
 }

 .title {
   color: white;
   font-size: 1.625rem; /* 26px / 16px = 1.625em converting px values to em's */
  }

  .intro {
    font-size: 1.25em; /* 20px/16px */
    line-height: 1.6;
  }

 .primary-content, .main-header, #main-footer {
   text-align: center;
 }

 .primary-content {
 	padding-top: 25px;
  padding-bottom: 95px;
 }

 .secondary-content {
 	padding-top: 80px;
 	padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
  /* overflow: auto; /* a simple way to clear floats */

 }

 .callout {
   font-size: 1.25em;
   border-bottom: 3px solid;
   padding: 0 9px 3px;
   margin-top: 20px;
   display: inline-block;
 }

 .t-border {
   border-top: 2px solid lightgrey;
 }

 /* Descendant Selectors */

/*ol li {
  margin-bottom: 5px;
}*/

/* Layout Styles -------------------------------------- */

.primary-content,
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 900px;
}

.wildlife {
  color: white;
  background-color: #434a52;
  padding: 18% 24%;
  border-top: 10px solid #ffa949;
  margin: 105px 0 60px;
  background-image: url("../img/bear.jpg");
  background-size: cover; /* for full image while maintaing width & height porportions */
  background-repeat: no-repeat;
  background-position: center;
}

.arrow {
  width: 50px;
}

/* Floated Columns -------------------------------------- */

.resorts,
.tips {
  width: 46.5%;
}

.tips {
  float: left; /* float div to the right side */
}

.resorts {
  float: right; /* float div to the left side */
}

/* Float Clearfix -------------------------------------- */
/* one of the best and most reliable methods for clearing floats */
.group:after {
  content: "";
  display: table;
  clear: both; /* the key to the clearfix */
}
/* what this clearfix does is, it generates a blank
pseudo-element after the content of our div, with the class group
The value, both, clears any collapsed space created by floats on
both sides of the container */
