/* Web Fonts -------------------------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
  /* here we're specifying alternate font-file formats for broader browser
  support by using the src property and a URL value that links to the font file location.*/
}

/* Base Styles -------------------------------------- */

/* Type Selector */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  /*font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; */
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* shorthand properties to write all the font properties in one value
  font stack to ensure fonts are shown b/c some users may not have some fonts
  available to them
  */
}

h1,
h2 {
  font-family: 'Abolition Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 5.625rem; /* 90px / 16px = 5.625em */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 3px 5px 10px rgba(0, 0, 0, .8); /* horizontal, vertical, blur radius, color */
  margin: 12px 0 0;
}

h2 {
  font-size: 3.3125em; /* 53px/16px */
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: .5em; /* "26px"/53px, so .5em = 26px */
}

h3 {
  font-size: 1.25em; /* 20px/16px */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px/30px */
}

/*li {
  display: inline-block;
  padding: 0 12px;
  border-right: solid 1px;
  margin: 80px 0;
}*/

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

img {
  max-width: 100%; /* for responsive imagery */
  margin-bottom: 20px;
  border-radius: 10px;
}

 /* Pseudo-Classes */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4); /* alpha value to make orange transparent */
}

a:active { /* for elements that are activated */
  color: lightcoral;
}

:focus { /* selects any interactive element nagivating a site using a keyboard */
  color: white;
  background-color: orange;
}

/* Main Styles -------------------------------------- */

/* ID Selectors */

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px #ffa949;
}

 /* Class Selectors */

 .main-header {
   padding-top: 170px;
   height: 850px;
   background:  linear-gradient(#ffa949, transparent 90%),
                linear-gradient(0deg, #fff, transparent),
                #ffa949 url('../img/mountains.jpg') no-repeat center / cover;
   /* / is to separate the size from the position value for the background.
   if we define a fully opaque background image or color, anywhere above
   the bottom layer, it will cover up the background layers behind it. */
 }

 .title {
   color: white;
   font-size: 1.625rem; /* 26px / 16px = 1.625em converting px values to em's */
   letter-spacing: .065em;
   font-weight: 200;
   border-bottom: 2px solid;
   padding-bottom: 10px;
  }

  .intro {
    font-size: 1.25em; /* 20px/16px */
    line-height: 1.6;
  }

 .primary-content,
 .main-header,
 #main-footer {
   text-align: center;
 }

 .primary-content {
 	padding-top: 25px;
  padding-bottom: 95px;
 }

 .secondary-content {
 	padding-top: 80px;
 	padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6; /* top border for footer */
  /* overflow: auto; /* a simple way to clear floats */

 }

 .callout {
   font-size: 1.25em;
   border-bottom: 3px solid;
   padding: 0 9px 3px;
   margin-top: 20px;
   display: inline-block;
 }

 .t-border {
   border-top: 2px solid lightgrey; /*top border for 1st and 2nd content */
 }

 /* Descendant Selectors */

/*ol li {
  margin-bottom: 5px;
}*/

/* Layout Styles -------------------------------------- */

.primary-content,
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 900px;
}

.wildlife {
  color: white;
  background-color: #434a52;
  padding: 18% 24%;
  border-top: 10px solid #ffa949;
  margin: 105px 0 60px;
  background-image: url("../img/bear.jpg");
  background-size: cover; /* for full image while maintaing width & height porportions */
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 15px 15px 10px -5px rgba(0, 0, 0, .8),
              inset 0 0 50px 10px rgba(0, 0, 0, .8);
  /* 4th length value in a box-shadow property is called the spread value,
because it moves or spreads the shadow away from an element.
inset is for the inner shadow (must be first or last in box shadow value)*/

  border-radius: 10px;
}

.arrow {
  width: 50px;
  margin-top: 150px;
}

/* Floated Columns -------------------------------------- */

.resorts,
.tips {
  width: 46.5%;
}

.tips {
  float: left; /* float div to the right side */
}

.resorts {
  float: right; /* float div to the left side */
}

/* Float Clearfix -------------------------------------- */
/* one of the best and most reliable methods for clearing floats */
.group:after {
  content: "";
  display: table;
  clear: both; /* the key to the clearfix */
}
/* what this clearfix does is, it generates a blank
pseudo-element after the content of our div, with the class group
The value, both, clears any collapsed space created by floats on
both sides of the container */

/* Media Queries -------------------------------------- */

@media (max-width: 1024px) {
  .primary-content,
  .secondary-content {
    width: 90%;
  }
  .wildlife {
    padding: 10% 12%;
    margin: 50px 0 20px;
  }
}

@media (max-width: 768px) {
  .primary-content,
  .secondary-content {
    width: 100%;
    padding: 20px;
    border-top: none;
  }
  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }
  .title {
    font-size: 1.3rem;
    border: none;
  }
  h1 {
    font-size: 5rem;
    line-height: 1.1;
  }
  .arrow {
    display: none;
  }
  .intro {
    font-size: 1rem;
  }
  .resorts,
  .tips {
    float: none;
    width: 100%;
  }
  #main-footer {
    padding: 20px 0;
  }
}

/*@media (max-width: 960px) {
  body {
    background: royalblue;
  }
}

@media (max-width: 480px) {
  body {
    background: darkred;
  }
}

@media (min-width: 481px) and (max-width: 700px) {
  body {
    background: seagreen;
  }
  p {
    color: white;
  }
}*/




 /* we used max-width to check for the browser's viewport */
/* media query is simply a style block containing one or various conditions.
And, if those conditions are true, the media query takes effect. If they're
false, the browser or device ignores them */
